.header {
  padding: 0;
  margin: 0;
  background: #0276aa;
  display: flex;
  height: 60px;
}
.header ul {
  margin: 0 auto;
  width: fit-content;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header ul li {
  list-style: none;
  display: inline-block;
  margin: 0 4px;
  background-color: #03a9f4;
  padding: 4px 16px;
  border-radius: 16px;
}
.header ul a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
